* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  padding-bottom: 20px;
}

#menu {
  float: right;
  color: red;
}

h1 {
  text-align: center;
  font-weight: bold;
  background: #333;
  color: ghostwhite;
  padding: 2px 0 2px 0;
}

h2 {
  color: forestgreen;
}

.logo {
  display: flex;
  justify-content: center;
  margin: 20px 0px 20px 0px;
  padding: 10px 0 10px 0;
}

footer {
  text-align: center;
  font-style: italic;
  margin-top: 20px;
  border-top: solid 1px #333;
}
