*,
*:before,
*:after {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: linear-gradient(
    135deg,
    #61d954,
    #2ebf75
    );
}

.main {
  background-color: #202020;
  height: 450px;
  width: 400px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 8px;
  box-shadow: 0 20px 25px rgba(0,0,0,0.35);
}

.guests-data {
  margin-left: 55px;
  margin-right: 55px;
  margin-top: 25px;
  padding-bottom: 28.5px;
  border-bottom: 3px solid #2ebf75;
}

h1 {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 24px;
  letter-spacing: 0.5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 75px;
  margin-left: 55px;
  margin-right: 55px;
  padding-bottom: 55px;
  border-bottom: 3px solid #2ebf75;
}

p {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

#guests {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  position: absolute;
  top: 325px;
  left: 135px;
}

#home {
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.5px;
  position: absolute;
  top: 395px;
  left: 125px;
}

.button-guests {
  background-color: #202020;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: default;
  outline: none;
}

.button-home {
  background-color: #202020;
  border: none;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  cursor: default;
  outline: none;
}
